

/****************
GENERAL RULES 
************/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main{
    display: flex;
}


/****************
NAVBAR SECTION CLASSES 
************/


/****************
SIDEBAR SECTION CLASSES 
************/

.side-bar{
    width: 75px;
    height: calc(100vh - 54px);
    background-color: rgb(8, 8, 46);
    background-image: url(../img/sidebar-bg.png);
}

@media screen and (min-width: 992px) {
    
    .side-bar{
        width: 150px;
    }

}

/****************
MAIN SECTION CLASSES 
************/

.site-content{
    width: calc(100vw - 75px);
    height: calc(100vh - 54px);
}

@media screen and (min-width:992px) {
    .site-content{
        width: calc(100vw - 150px);
    }    
}

/*TOP MAIN SECTION*/



